* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0, 123, 255, .5) 50%, rgba(0, 123, 255, .2)),
        linear-gradient(to bottom right, rgba(0, 123, 255, .4) 30%, rgba(0, 123, 255, 0)),
        linear-gradient(#01c7d1, #01c7d1);
}

#root {
    width: 60%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}